/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  background-color: #BD5D38;
  justify-content: center;
}
.navbar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #CA7D60;
  margin: 10px;
}

.navList {
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.nav-link {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.635);
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.863);
}

.navbar + .tumSayfa {
  margin-left: 300px;
}

.tumSayfa {
  line-height: 1.5;
}

.section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.isimSoyisim {
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.isimSoyisim span {
  color: #BD5D38;
}
.isimSoyisim h1 {
  color: #343A40;
}

.adres {
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 1.5rem;
  color: #343A40;
  text-transform: uppercase;
}
.adres a {
  color: #BD5D38;
}

p {
  color: #6c757d;
  font-size: 1.15rem;
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h2 {
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #343A40;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  color: #343A40;
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: bold;
}

h4 {
  color: #6c757d;
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  padding-bottom: 20px;
  padding-top: 5px;
  font-weight: bold;
}

.ikonlar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  transition: background-color 0.2s ease;
}

.ikonlar:hover {
  background-color: #BD5D38;
}

.experienceDate {
  display: flex;
  align-items: center;
  color: #BD5D38;
  font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin-left: 560px;
}

.denemebir {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.ikonz {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.ikonz .svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 3em;
  overflow: visible;
  vertical-align: -0.125em;
}

.fa-ul {
  list-style-type: none;
  margin-left: var(--fa-li-margin, 2.5em);
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
  color: #6c757d;
}

.fa-li {
  left: calc(var(--fa-li-width, 2em) * -1);
  position: absolute;
  text-align: center;
  width: var(--fa-li-width, 2em);
  line-height: inherit;
  width: 20px;
  margin-top: 3.5px;
}/*# sourceMappingURL=main.css.map */