.tumSayfa {
    line-height: 1.5;
}
.section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.isimSoyisim {
    font-size: 100px;
    font-family: $font-family;
    font-weight: bold;

    span {
        color: $nav-color;
    }

    h1 {
        color: $baslik-color;
    }
}

.adres {
    font-family: $navandp-font;
    font-weight: bold;
    margin-bottom: $margin-bottom;
    font-size: 1.5rem;
    color: $baslik-color;
    text-transform: uppercase;

    a {
        color: $nav-color;
    }
}

p {
    color: $text-color;
    font-size: 1.15rem;
    font-family: $navandp-font;
}

h2 {
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: $baslik-color;
    font-family: $font-family;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    color: $baslik-color;
    font-family: $navandp-font;
    font-weight: bold;
}

h4 {
    color: $text-color;
    font-family: $navandp-font;
    padding-bottom: 20px;
    padding-top: 5px;
    font-weight: bold;
}

.ikonlar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    transition: background-color 0.2s ease;
}


.ikonlar:hover {
    background-color: $nav-color
}

.experienceDate {
    display: flex;
    align-items: center;
    color: $nav-color;
    font-family: $navandp-font;
    margin-left: 560px;
}

.denemebir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.ikonz {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    color: $text-color; 
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 20px; 

.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 3em;
    overflow: visible;
    vertical-align: -0.125em;
}

}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin,2.5em);
    padding-left: 0;
}

.fa-ul>li {
    position: relative;
    color: $text-color;
}

.fa-li {
    left: calc(var(--fa-li-width,2em) * -1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width,2em);
    line-height: inherit;
    width: 15px;
}